<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>


<title>Welcome to Davinci Designs</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="styles.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	background-image: url(/web/20060819215242im_/http://www.davincidesigns.com.au/main/templates/General/images/background.gif);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a:link {color: #964C4C; text-decoration: none; }
a:active {color: #964C4C; text-decoration: none; }
a:visited {color: #964C4C; text-decoration: none; }
a:hover {color: #CCCCCC; text-decoration: none; }

-->
</style></head>

<body><center><table width="748" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <!--DWLayoutTable-->
 
  <tr class="borders2">
    <td height="3" colspan="2" valign="top" bgcolor="#771616"><img src="images/top_spacer.gif" width="1" height="3"></td>
  </tr>
  <tr>
    <td width="518" height="41" valign="middle" background="images/top_shade_background.gif" class="left_border"><div align="left"><img src="images/davinci_header_3.gif" width="205" height="41"></div></td>
    <td width="232" valign="bottom" background="/web/20060819215242im_/http://www.davincidesigns.com.au/main/templates/General/images/top_shade_background.gif" class="right_border"><form name="srchForm" method="post" action="/web/20060819215242/http://www.davincidesigns.com.au/site/Kitchens_Wardrobes/Search-Results/">
<table border="0" align="right" cellpadding="0" cellspacing="0">
  <tr>
	<td align="right" valign="middle"><input name="13_srchText" type="text" class="searchfield"/></td>
	<td>	  <a href="javascript:document.srchForm.submit()">&nbsp;&nbsp;<img src="images/search_buttton.gif" alt="Search" border="0" title="Search Now">&nbsp;&nbsp;</a></td>
  </tr>
</table>
</form>
	
	</td>
  </tr>
  <tr valign="middle" class="menu_area">
    <td height="19" colspan="2" id="menu_style"> <div align="left">
      <a href="/web/20060819215242/http://www.davincidesigns.com.au/site/Brisbane-Gold-Coast/Home/">Home</a>
 | <a href="/web/20060819215242/http://www.davincidesigns.com.au/site/Kitchens-Wardrobes/About-Us/">About Us</a>
 | <a href="/web/20060819215242/http://www.davincidesigns.com.au/site/Kitchens-Wardrobes/Gold_Coast/">Gold Coast</a>
 | <a href="/web/20060819215242/http://www.davincidesigns.com.au/site/Kitchens-Wardrobes/Brisbane_Showroom/">Brisbane Showroom</a>
 | <a href="/web/20060819215242/http://www.davincidesigns.com.au/site/Gold_Coast_Brisbane_Kitchens/Poggenpohl_Supplier/">Poggenpohl Supplier</a>
 | <a href="/web/20060819215242/http://www.davincidesigns.com.au/site/property-development/News-Events/">News &amp; Events</a>
 | <a href="/web/20060819215242/http://www.davincidesigns.com.au/site/property-development/Contact-Us/">Contact Us</a>
    </div></td>
  </tr>
  <tr class="right_border">
    <td height="207" colspan="2" valign="top"><img src="images/banner_3.jpg"></td>
  </tr>
  <tr class="left_border">
    <td height="248" colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="borders2">
        <!--DWLayoutTable-->
         
        <tr>
            <td height="5" colspan="3" valign="top" class="red_left"><img src="images/red_left.gif" width="1" height="5"></td>
            <td colspan="3" valign="top" class="red_right"><img src="images/red_middle_2.gif" width="2" height="5"></td>
          </tr>
          <tr>
            <td width="12" rowspan="3" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td width="516" height="10" valign="top" class="heading"><div align="left">
                          </div></td>
            <td width="10" rowspan="2" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td width="9" rowspan="2" valign="top" bgcolor="#F5F5F5"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td width="188" rowspan="2" valign="top" bgcolor="#F5F5F5" class="heading"><div align="left"></div></td>
            <td width="13" rowspan="2" valign="top" bgcolor="#F5F5F5"><!--DWLayoutEmptyCell-->&nbsp;</td>
          </tr>
          <tr>
            <td height="11" valign="top" class="heading"><span class="pageheading">Gold Coast            </span></td>
          </tr>
          <tr>
            <td height="222" valign="top"><p align="left" class="content">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>              <br>
              <br>
                            <br>
              <br>
                          </p>
            </td>
            <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td valign="top" bgcolor="#F5F5F5"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td align="left" valign="top" bgcolor="#F5F5F5"><div align="left">
              <ul>
<li><a href="/web/20060819215242/http://www.davincidesigns.com.au/site/Kitchens_Wardrobes/hello/">hello</a></li></ul>              <br>
              <ul>
<li>
<a href="/web/20060819215242/http://www.davincidesigns.com.au/site/member_login/Member-Login/">Login</a>
</li>
<li>
<a href="/web/20060819215242/http://www.davincidesigns.com.au/site/membership/New-Member/">Become A Member</a>
</li>
<li>
<a href="/web/20060819215242/http://www.davincidesigns.com.au/site/Subscribe_now/Subscribe/">Subscriptions</a>
</li>
</ul>
            </div>            </td>
            <td valign="top" bgcolor="#F5F5F5"><!--DWLayoutEmptyCell-->&nbsp;</td>
          </tr>
      </table></td>
    </tr>
  <tr class="left_border">
    <td height="60" colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <!--DWLayoutTable-->
             
          <tr>
            <td height="6" colspan="2" valign="top" class="bottom_dots"><img src="images/dots_bground.gif" width="5" height="6"></td>
          </tr>
          <tr>
            <td height="5" colspan="2" valign="top" class="red_bottom"><img src="images/red_bottom.gif" width="1" height="5"></td>
          </tr>
          <tr>
            <td width="141" height="25" valign="middle" class="menu_area" id="menu_style">
              <a href="/web/20060819215242/http://www.davincidesigns.com.au/site/property-development/Site-Map/">Site Map</a>
 | <a href="/web/20060819215242/http://www.davincidesigns.com.au/site/property-development/Home/">Home</a>
            </td>
            <td width="607" valign="middle" class="menu_area" id="menu_style"><div align="right">Copyright &copy; 2005 Davinci Designs. |<a href="https://web.archive.org/web/20060819215242/http://www.dalc.info/"> Website Design, Development and Promotion by Dalc.info</a>.</div></td>
          </tr>
          <tr class="footer">
            <td height="24"></td>
            <td></td>
          </tr>
      </table></td>
  </tr>
</table>
</center>
</html>