.borders2 {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.left_border {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
}
.right_border {
	border-right-width: 1px;
	border-right-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #666666;
	vertical-align: middle;
	border-left-width: 1px;
	border-left-style: solid;
}
.search {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.two_borders {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
#menu_style a:link,#menu_style a:active,#menu_style a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-indent: 5px;
}

#menu_style a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
	text-indent: 5px;
}
.menu_area {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-indent: 5px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background-color: #000000;
}
.red_left {
	background-image: url(/web/20060819214937im_/http://www.davincidesigns.com.au/main/templates/General/images/red_left.gif);
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #000000;
}
.red_right {
	background-color: #721515;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #721515;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-top-color: #666666;
}
.mid_right_border {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.bottom_dots {
	background-image: url(/web/20060819214937im_/http://www.davincidesigns.com.au/main/templates/General/images/dots_bground.gif);
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}
.red_bottom {
	background-image: none;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
	background-color: #721515;
}
.footer {
	background-image: url(/web/20060819214937im_/http://www.davincidesigns.com.au/main/templates/General/images/footer_tile.gif);
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
	background-repeat: repeat-x;
}
.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585858;
}
.image {
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.right_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585858;
}
.right_content_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585858;
	font-weight: bold;
}

/*
     FILE ARCHIVED ON 21:49:37 Aug 19, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:54:24 Mar 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 91.478
  exclusion.robots: 0.221
  exclusion.robots.policy: 0.209
  RedisCDXSource: 1.128
  esindex: 0.009
  LoadShardBlock: 51.291 (3)
  PetaboxLoader3.datanode: 74.584 (4)
  load_resource: 253.094
  PetaboxLoader3.resolve: 203.211
*/